jupyter-book
lightgbm
matplotlib
mysql_connector_repackaged
numpy
optuna
pandas
plotly
ruptures
scikit_learn
scikit_optimize
scipy
seaborn
shap
skforecast
SQLAlchemy
statsmodels
sphinxcontrib-plantuml==0.25
sphinxcontrib-mermaid
tslearn
